<template>
  <div class="h-screen w-screen text-center">
    <input
      class="border rounded-md"
      type="text"
      v-model="username" />
    <button @click="enterGame">Enter game</button>
    <div>
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

interface AppData {
  username?: string;
}

export default defineComponent({
  name: 'app',

  data(): AppData {
    return {
      username: undefined,
    };
  },

  methods: {
    enterGame() {
      if (this.username === undefined || this.username === '') {
        alert("You need to type in a valid username");
        return;
      }

      this.$router.push({ name: 'game', params: { username: this.username }});
    }
  }
});
</script>