<template>
  <div
    class="h-screen grid grid-cols-4 grid-rows-4"
  >
    <scoreboard
      :scoreboardData="scoreboard"
    />

    <!-- Partner -->
    <other-player
      class="col-span-2"
      :player="partner"
      :partner="true"
    />
    <div>?</div>

    <!-- LeftOpponent -->
    <other-player
      class="row-span-2"
      :player="leftOpponent"
      :partner="false"
    />

    <!-- Playboard -->
    <playboard
      class="row-span-2 col-span-2 border"
      :selfCard="playboard.selfCard"
      :leftOpponentCard="playboard.leftOpponentCard"
      :rightOpponentCard="playboard.rightOpponentCard"
      :partnerCard="playboard.partnerCard"
    />

    <!-- RightOpponent -->
    <other-player
      class="row-span-2"
      :player="rightOpponent"
      :partner="false"
    />
    <div>?</div>

    <!-- Self(player) -->
    <player
      class="col-span-2"
      :player="self"
      @playCard="handlePlayCard"
    />
    <div>{{self}}</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import Player from '../components/Player.vue';
import OtherPlayer from '../components/OtherPlayer.vue';
import Playboard from '../components/Playboard.vue';
import Scoreboard from '../components/Scoreboard.vue';

import { BelotService } from '../services/belotService';

import { Card } from '../models';

interface PlayerInfo {
  connected?: boolean;
  username: string;
  sid: string;
  slot: number;
  handLength: number;
  hand?: any[];
  playing?: boolean;
}

interface PlayboardData {
  selfCard?: Card;
  leftOpponentCard?: Card;
  partnerCard?: Card;
  rightOpponentCard?: Card;
}

interface ScoreboardData {
  [username: string]: {
    hands: number;
    points: number;
  };
}

interface GameData {
  connectedPlayers: PlayerInfo[];
  playboard: PlayboardData;
  scoreboard: ScoreboardData;
}

export default defineComponent({
  name: 'game',

  props: [ 'username' ],

  components: {
    Player,
    OtherPlayer,
    Playboard,
    Scoreboard,
  },

  data: (): GameData => ({
    connectedPlayers: [],
    playboard: {
      selfCard: undefined,
      leftOpponentCard: undefined,
      rightOpponentCard: undefined,
      partnerCard: undefined,
    },
    scoreboard: {},
  }),

  setup(props) {
    const DEBUG = true;

    if (DEBUG) {
      console.log("Game.vue:setup()");
    }

    const belotServer = new BelotService('ws://localhost:5000');

    return {
      belotServer,
    }
  },

  computed: {
    self() {
      const fallbackRes = {
        username: "Self",
        slot: undefined,
        playing: false,
      }

      const selfPlayer = this.connectedPlayers.find((player) => {
        return player.username === this.username;
      })

      if (selfPlayer === undefined) {
        return fallbackRes;
      }

      return selfPlayer;
    },

    leftOpponent() {
      const fallbackRes = {
        username: "LeftOpponent",
        connected: false,
      }

      if (this.self.slot === undefined) {
        return fallbackRes;
      }

      let slotNum = this.self.slot + 1;
      if (slotNum > 4) {
        slotNum = slotNum - 4;
      }

      const leftPlayer = this.connectedPlayers.find((player) => {
        return player.slot === slotNum;
      });

      if (leftPlayer === undefined) {
        return fallbackRes;
      }

      return leftPlayer;
    },

    partner() {
      const fallbackRes = {
        username: "Partner",
        connected: false,
      }

      if (this.self.slot === undefined) {
        return fallbackRes;
      }

      let slotNum = this.self.slot + 2;
      if (slotNum > 4) {
        slotNum = slotNum - 4;
      }

      const partnerPlayer = this.connectedPlayers.find((player) => {
        return player.slot === slotNum;
      });

      if (partnerPlayer === undefined) {
        return fallbackRes;
      }

      return partnerPlayer;
    },

    rightOpponent() {
      const fallbackRes = {
        username: "RightOpponent",
        connected: false,
      }

      if (this.self.slot === undefined) {
        return fallbackRes;
      }

      let slotNum = this.self.slot + 3;
      if (slotNum > 4) {
        slotNum = slotNum - 4;
      }

      const rightPlayer = this.connectedPlayers.find((player) => {
        return player.slot === slotNum;
      });

      if (rightPlayer === undefined) {
        return fallbackRes;
      }

      return rightPlayer;
    },
  },

  async mounted() {
    console.log("Game.vue:mounted()");

    this.setupBelotServerHandlers();

    await this.belotServer.connect();

    this.belotServer.on('connect', async () => {
      // since we've already connected, whenever this function get's executed it'll be when
      // we've firstly disconnected and then reconnected

      console.log("Attempting to re-join the game...");
      await this.belotServer.requestToJoin({ username: this.username });
    });

    await this.belotServer.requestToJoin({ username: this.username });
  },

  async beforeUnmount() {
    console.log("UMOUNTING!");
    await this.belotServer.disconnect();
  },

  methods: {
    clearPlayboard() {
      this.playboard = {
        selfCard: undefined,
        leftOpponentCard: undefined,
        rightOpponentCard: undefined,
        partnerCard: undefined,
      }
    },

    setupBelotServerHandlers() {
      this.belotServer.on('connect', () => {
        console.log(`SOCKET ${this.belotServer.socket.id} CONNECTED`);
      });

      this.belotServer.on('disocnnect', () => {
        console.log(`SOCKET ${this.belotServer.socket.id} DISCONNECTED`);
      });

      this.belotServer.on("update_players", (newPlayers: any[]) => {
        //console.log("UPDATE_PLAYERS EVENT");
        //console.log(newPlayers);

        this.connectedPlayers = newPlayers.map((player, i) => ({
          username: player["username"],
          sid: player["sid"],
          slot: i+1,
          hand: player["hand"],
          handLength: player["hand_length"],
          connected: true,
        }));
      });

      this.belotServer.on('game_start', (data: any[]) => {
        //console.log("STARTING GAME, EXCITING!");
        //console.log(data);
      });

      this.belotServer.on("action_request", (action: any) => {
        //console.log("Next action has been decided by game server");
        //console.log(action);

        const playerToAct = this.connectedPlayers.find((p) => p.username === action["player"]["username"]);
        if (playerToAct === undefined) {
          console.log(`Couldn't find player with username ${action["player"]["username"]}`);
          return;
        }

        console.log(`Player ${playerToAct.username} needs to ${action["name"]}.`);
        playerToAct.playing = true;

        if (playerToAct.username === this.self.username) {
          console.log("IT'S YOU THAT NEEDS TO ACT! ACT FAST!");
        }
      });

      this.belotServer.on("card_played", (data: any) => {
        //console.log("card_played event");
        //console.log(data);

        const player = data["player"];
        const card = data["card"]
        if (player === undefined || card === undefined) {
          console.error("player or card are undefined");
          return
        }

        switch(player["username"]) {
          case this.self.username:
            this.playboard.selfCard = card;
            break;
          case this.leftOpponent.username:
            this.playboard.leftOpponentCard = card;
            break;
          case this.partner.username:
            this.playboard.partnerCard = card;
            break;
          case this.rightOpponent.username:
            this.playboard.rightOpponentCard = card;
            break;
          default:
            console.log("I don't know who played a card, but someone did!");
            break;
        }
      });

      this.belotServer.on("hand_taken", (data: any) => {
        //console.log("hand_taken event");
        //console.log(data);

        this.clearPlayboard();
      });

      this.belotServer.on("update_scoreboard", (data: any) => {
        //console.log("update_scoreboard event");
        //console.log(data);

        this.scoreboard = data;
      });

    },

    handlePlayCard(card: any) {
      console.log("Player wants to play a card");
      console.log(card);

      if (!this.self.playing) {
        console.log("Can't play now, not your turn!");
        return;
      };

      this.belotServer.emit("play_action", {
        name: 'PLAY_CARD',
        payload: {
          rank: card.rank,
          suit: card.suit,
        },
      });
    }
  }
});
</script>
