<template>
  <div class="h-screen w-screen text-center">
    <input type="text" :value="name" />
  </div>
</template>


<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'loading-screen',

  props: [ 'socket' ],

  data () {
    return {
      name: undefined,
    }
  },

  unmounted() {
    console.log("LOADING UNMOUNTED");
  },

  mounted() {
    console.log("LOADING MOUNTED");
    console.log(this.socket);
  },

  methods: {
    connectSocket() {
      this.socket.connect({
        name: this.name,
      });
    }
  }
});
</script>