<template>
  <div class="border border-gray-400 rounded-md">
    <div>{{ rank }}{{ suit }}</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'card',

  props: ['rank', 'suit'],
});
</script>