<template>
  <div :class="[
    'flex', 'flex-col',
    {
      'bg-green-400': player.playing,
    },
  ]">
    <h1 v-if="player.connected">{{ player.username }}</h1>

    <!-- PLAYER NOT CONNECTED -->
    <div v-if="!player.connected">
      PLAYER NOT CONNECTED
    </div>


    <!-- RENDER PLAYER -->
    <div v-else
      :class="[
        'flex', 'flex-grow', 'justify-center', 'p-8',
        {
          'flex-row': partner,
          'flex-col': !partner,
        }
      ]">
      <div
        :class="[
          'border', 'border-gray-400', 'bg-gray-200', 'rounded-md',
          {
            'w-1/6': partner,
            'h-1/6': !partner,
          }
        ]"
        v-for="i in player.handLength"
        :key="i" />
    </div>

  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: "other-player",

  props: [
    'player',
    'partner',
  ],
});
</script>