<template>
    <div class="grid grid-cols-3 grid-rows-3 p-2">
        <div class="col-start-2">
            <div v-if="partnerCard" class="border min-h-full">
                {{ partnerCard.rank }}
                {{ partnerCard.suit }}
            </div>
        </div>

        <div class="col-start-1">
            <div v-if="leftOpponentCard" class="border min-h-full">
                {{ leftOpponentCard.rank }}
                {{ leftOpponentCard.suit }}
            </div>
        </div>
        <div class="col-start-3">
            <div v-if="rightOpponentCard" class="border min-h-full">
                {{ rightOpponentCard.rank }}
                {{ rightOpponentCard.suit }}
            </div>
        </div>

        <div class="col-start-2">
            <div v-if="selfCard" class="border min-h-full">
                {{ selfCard.rank }}
                {{ selfCard.suit }}
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    name: 'playboard',
    props: [
        'selfCard',
        'leftOpponentCard',
        'partnerCard',
        'rightOpponentCard',
    ],
});
</script>