<template>
  <div :class="[
    'flex', 'flex-col',
    {
      'bg-green-400': player.playing,
    },
  ]">
    <h1>{{ player.username }}</h1>

    <div class="flex flex-row flex-grow justify-center p-8">
      <card
        class="w-1/6"
        v-for="card in player.hand"
        :rank="card.rank"
        :suit="card.suit"
        :key="card.rank + card.suit"
        @click="$emit('playCard', card)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import Card from './Card.vue';

export default defineComponent({
  name: "player",

  components: {
    Card,
  },

  props: [
    'player',
  ],

  emits: [
    'playCard',
  ],
});
</script>