<template>
  <div class="flex flex-row justify-around items-start">
    <div class="text-left font-bold">
      <div>Username</div>
      <div>Hands taken</div>
      <div>Total points</div>
    </div>

    <div v-for="(score, username) in scoreboardData" :key="username">
      <div>{{username}}</div>
      <div>{{score["hands"]}}</div>
      <div>{{score["points"]}}</div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'scoreboard',

  props: [ 'scoreboardData' ],
});
</script>